<div class="container__big-card">
  <div class="big-card__photo">
    <img
      src="https://www.alura.com.br/artigos/assets/como-comecar-com-angular/como-comecar-com-angular.png"
      alt=""
      height="200px"
    >
  </div>

  <div class="big-card__title">
    <h1><a href="#">Saiu a nova versao do Angular</a></h1>
  </div>

  <div class="big-card__description">
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veritatis ducimus sed optio, odio, dignissimos dolore eius repudiandae dolores sit libero nostrum suscipit quidem quae? Sit quis ducimus unde labore delectus.
    </p>
  </div>
</div>
